@import '../../vars.scss';
@import '../../mixins.scss';

.category {
  margin: 24px 32px 40px 32px;

  &__title {
    margin: 40px 0 8px;
    font-family: Mont;
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -0.01em;
    color: $secondary-color;
  }

  &__quantity {
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: $primary-color;
  }

  &__selects {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;


    .sort__title, .items-on-page__title {
      font-size: 12px;
      font-weight: 700;
      line-height: 15.34px;
      color: $primary-color;
    }

    .select__sort {
      width: 176px;
      height: 40px;
      border-color: $primary-color;
      color: $secondary-color;
      outline: none;
      padding: 0 12px;

    }
    .select__items {
      width: 128px;
      height: 40px;
      border-color: $primary-color;
      outline: none;
      padding: 0 12px;

    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
    gap: 16px;
  }

  .category__navigation {
    display: flex;
    align-items: center;
    gap: 8px;

    &--home {
      background-image: url(../../images/icon/home.svg);
      content: '';
      width: 16px;
      height: 16px;
    }

    &--category {
      display: flex;
      gap: 8px;
      text-transform: capitalize;
      font-size: 12px;
      font-weight: 600;
      line-height: 15.34px;
      color: $primary-color;

      &::before {
        display: block;
        background-image: url(../../images/arrows/arrow-right.svg);
        content: '';
        width: 16px;
        height: 16px;
      }
    }

  }
}



// .breadcrumbs__icons {
//   display: flex;
//   align-items: center;
//   gap: 8px;



//   .breadcrumbs__icon {
//     display: block;
//     text-decoration: none;
//     height: 16px;
//     width: 16px;
//     background-repeat: no-repeat;
//     background-position: center;

//     &--home {
//       background-image: url(../../images/icon/home.svg);

//     }

//     &--category {

//       font-size: 12px;
//       font-weight: 600;
//       line-height: 15.34px;
//       color: $primary-color;

//       &::before {
//         display: block;
//         background-image: url(../../images/arrows/arrow-right.svg);
//         content: '';
//         width: 16px;
//         height: 16px;
//       }

//     }
//   }
// }
