@import '../../vars';
@import '../../mixins';

.category {
  @include content-padding-inline;
}

.title {
  padding: 24px 0 8px;
  text-transform: capitalize;
  font-size: 32px;
  font-weight: 800;
  line-height: 41px;
  letter-spacing: -0.01em;
  text-align: left;
  color: $secondary-color;

  @include on-tablet {
  font-size: 48px;
  line-height: 56px;
  }
}

.quantity {
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: $primary-color;
}

.selects {
  width: 287px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;
}

.sortTitle {
  font-size: 12px;
  font-weight: 700;
  line-height: 15.34px;
  color: $primary-color;
}

.selectSort {
  width: 136px;
  height: 40px;
  border-color: $primary-color;
  color: $secondary-color;
  outline: none;
  padding: 0 12px;

}

.selectItems {
  width: 128px;
  height: 40px;
  border-color: $primary-color;
  outline: none;
  padding: 0 12px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
  justify-content: center;
  gap: 40px 16px;
  padding-bottom: 24px;

  @include on-tablet {
    padding-bottom: 40px;
  }
}

.nav {
  padding-top: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.navHome {
  background-image: url(../../images/icons/home.svg);
  content: '';
  width: 16px;
  height: 16px;
}

.navCategory {
  display: flex;
  gap: 8px;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.34px;
  color: $primary-color;

  &::before {
    display: block;
    background-image: url(../../images/arrows/arrow-right.svg);
    content: '';
    width: 16px;
    height: 16px;
  }
}
