@import '../../mixins';
@import '../../vars';

.button {
  background-color: #fff;
  border: 1px solid $button-color;
  color: $secondary-color;
  background-repeat: no-repeat;
  background-position: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.next {
  background-image: url(../../images/arrows/arrow-right.svg);
}

.disabled {
  opacity: 0.5;
  pointer-events: none; /* Забороняє кліки на неактивні кнопки */
}

.large {
  display: none;

  @include on-tablet {
    display: block;
    height: auto;
    padding: 0 16px;
  }
}
