// .swiper {

//   .mySwiper {

//     width: 1000px;
//   }
// }



// .swiper-slide {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   height: 100%;
// }

.slider__img {

  width: 100%;
  height: 400px;
  object-fit: cover;
  background-color: #000;
}


.custom-prev, .custom-next {
  position: absolute;
  top: 50%; /* Центруємо вертикально */
  transform: translateY(-50%);
  background: none;
  cursor: pointer;
  border: 1px solid #B4BDC3;
  height: 400px;
  width: 32px;
  margin: 16px;

}

.custom-prev {
  left: 0px;
}
.custom-next {
  right: 0px;
}
