@import '../../vars';
@import '../../mixins';

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  transform: translateX(100%);
  transition: all 0.8s ease-in-out;

  @include on-tablet {
    display: none;
  }
}

.menuOpen {
  transform: translateX(0);
}
