@import '../../mixins';
@import '../../vars';


.sliderTtitle {
  font-size: 22px;
  font-weight: 800;
  line-height: 30.8px;
  text-align: left;
  color: $secondary-color;

  @include on-tablet {
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
  }
}


.sliderButtons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.buttons {
  display: flex;
  gap: 16px;

}


.container {
  width: 212px;

  @include on-tablet {
    width: 237px;
  }

  @include on-desctop {
    width: 272px;
  }
}
