@import '../../vars';
@import '../../mixins';

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 0 0 #e2eeE9;
}

.logoImg {
  display: block;
  width: 64px;
  height: 22px;
  margin: 13px 16px;

  @include on-desctop {
    width: 80px;
    height: 28px;
    margin: 18px 24px
  }
}

.content {
  display: flex;
  align-items: center;
  gap: 16px;

  @include on-desctop {
    gap: 24px;
  }
}

.icons {
  display: flex;
}

.icon {
  display: block;
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: -1px 0 0 0 $border-color;


  @include on-desctop {
    width: 64px;
    height: 64px;
  }
}

.iconFavourites {
  display: none;
  background-image: url(../../images/icons/favourites.svg);

  @include on-tablet {
    display: block;
  }

}

.iconShoppingbag {
  display: none;
  background-image: url(../../images/icons/shopping-bag.svg);

  @include on-tablet {
    display: block;
  }
}

.buttonsMenu {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  box-shadow: -1px 0 0 0 $border-color;
  border: none;
  cursor: pointer;

  @include on-tablet {
    display: none;
  }
}

.burger {
  background-image: url(../../images/icons/burger-menu.svg);
}

.close {
  background-image: url(../../images/icons/close-icon.svg);
}
