@import '../../vars';
@import '../../mixins';

.footer {
  box-shadow: 0 -1px 0 0 $border-color;
}

.content {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include  content-padding-inline ;

  @include on-tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  @include on-tablet {
    width: 198px;
    align-self: center;
  }

  @include on-desctop{
    width: 378px;
  }
}

.logoImg {
  display: block;
  width: 89px;
  height: 32px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;

  @include on-tablet {
    flex-direction: row;
  }

  @include on-desctop {
    gap: 107px;
  }
}

.link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  line-height: 11px;
  letter-spacing: 0.04em;
  text-align: left;
  color: $primary-color;
}

.link:hover {
  color: $secondary-color;
}

.btnTop {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

}

.btnName {
  display: block;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.34px;
  color: $primary-color;
}

.buttonArrow {
  display: block;
  height: 32px;
  width: 32px;
  text-decoration: none;
  border: 1px solid #b4bdc3;
  background-image: url(../../images/icons/arrow-to-top.svg);
  background-repeat: no-repeat;
  background-position: center;
}
