// not empty
@font-face {
  font-family: Mont;
  src: url(/fonts/Mont-Bold.otf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Mont;
  src: url(/fonts/Mont-Regular.otf);
  font-weight:600 ;
  font-style: normal;
}

@font-face {
  font-family: Mont;
  src: url(/fonts/Mont-SemiBold.otf);
  font-weight:700 ;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Mont, sans-serif;
  font-weight: 600;
}

.visuallyHidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
}

.content {
  display: block;
}

.contentHidden {
  display: none;
}
