@import '../../vars';
@import '../../mixins';



.hpTitle {
  padding-block: 24px;
  font-size: 32px;
  font-weight: 800;
  line-height: 41px;
  letter-spacing: -0.01em;
  text-align: left;

  @include content-padding-inline;

  @include on-tablet {
    width: 592px;
    padding-block: 32px;
    font-size: 48px;
    line-height: 56px;
  }

  @include on-desctop {
    width: 1136px;
    padding-block: 56px;
  }
}

.content {
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 56px;

   @include on-tablet {
    padding-bottom: 64px;
  }

  @include on-desctop {
    padding-bottom: 80px;
  }
}

.section {
  @include content-padding-inline;
}

.section:first-child {
  padding-inline: 0;

  @include on-tablet {
    @include content-padding-inline;
  }

}


.sectionTitle {
  font-size: 22px;
  font-weight: 800;
  line-height: 30.8px;
  text-align: left;
  color: $secondary-color;

  @include on-tablet {
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
  }
}

.wrapp {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 24px;

  @include on-tablet {
    flex-direction: row;
    gap: 16px;
  }
}

.link {
  text-decoration: none;
}

.img {
   display: block;
   height: 100%;
   width: 100%;
   object-fit: cover;

   @include hover(transform,scale(1.05));
}

.title {
  margin: 24px 0 4px;
  font-size: 20px;
  line-height: 25.56px;
  color: $secondary-color;
}

.quantity {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: $primary-color;
}

// .container {
//   @include content-padding-inline;
// }
